*
{
 margin:0;
 padding:0;
}

header
{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(Img1.jpg);
  background-repeat:no-repeat;
  border:none;
  display:block;
  height:100vh;
  background-size:cover;
  background-position:center;
}   

ul{
 color: black;
 float:right;
 list-style-type:none;
 margin:30px; 
}
 
ul li{
display: inline-block;
}

ul li a{  
  text-decoration: none;
  color: black;
  padding:10px 25px;
  border: 1px solid transparent;
  transition:0.6s ease;
}
  
ul li a:hover{
  background-color: white;
  color: black;
}  

ul li.active a{
  background-color:white;
  color: black;
}  

.backg
{
 position:absolute;
 top: 60%;
 left: 65%;
 transform :translate(-50%-50%);
} 

.backg h1{
  color: black;
  font-size:70px;
} 
